<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>event</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="(row, rowIndex) in Array(9)">
            <span 
                v-for="(row, colIndex) in Array(rowIndex + 1)">
                {{rowIndex + 1}} * {{ colIndex + 1 }} = {{(rowIndex + 1) * (colIndex + 1)}}
            </span>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app'
        })
    </script>
</body>
</html>