<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>event</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="val1">
         + 
        <input type="text" v-model="val2">
        = {{result}}
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                val1: '',
                val2: ''
            },
            computed: {
                // computed 选项里都是函数
                // 函数必须要有一个返回值
                // computed里的函数使用时 不需要括号
                result() {
                    // computed里的函数 只要引用了当前实例的任何变量
                    // 当实例里的任意变量发生变化 computed都会重新返回新的值
                    return Number(this.val1) + Number(this.val2)
                }
            }
        })
    </script>
</body>
</html>