<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <style>
        .test-a {
            background: red;
            display: inline-block;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div id="app"></div>

    <script>
        Vue.component('test-a', {
            props: {
                propa: String,
                propb: String
            },
            data() {
                return {
                    value1: this.propa,
                    value2: this.propb
                }
            },
            watch: {
                propa(val) {
                    this.value1 = val
                },
                propb(val) {
                    this.value2 = val
                },
                value1(val) {
                    this.$emit('update:propa', val)
                },
                value2(val) {
                    this.$emit('update:propb', val)
                }
            },
            template: `
                <div class="test-a">
                    <input v-model="value1" />
                    <input v-model="value2" />
                </div>
            `
        })

        new Vue({
            template: `
                <div>
                    <test-a :propa.sync="a" :propb.sync="b"></test-a>

                    <div>
                        <input v-model="a" />
                    </div>
                    <div>
                        <input v-model="b" />
                    </div>
                </div>
            `,
            data: {
                b: '1',
                a: '2'
            }
        }).$mount('#app')
    </script>
</body>
</html>